.episode {
    font-size: 20px;
}
.tag-block {
    margin-top: 10px;
}
#tag-select {
    h2 { margin-top: 0px; }
    div { margin-bottom: 3px; }
}
#search-form {
    h2 { margin-top: 0px; }
}

body { padding-bottom: 30px; }
