
html, body { height: 100%; min-height: 700px; }

#main {
	height: 100%;
	padding: 0;
}

.item {
	position: relative;
	height: 100%;
	text-align: center;
}

.item:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.item .container {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	padding-top: 5em;
	padding-bottom: 5em;
	-moz-perspective: 900px;
	-webkit-perspective: 900px;
	-o-perspective: 900px;
	-ms-perspective: 900px;
	perspective: 900px;
}

.item .container .title {
	display: inline-block;
	background: #fff;
	padding: 0.5em 1em;
	border-radius: 0.25em;
	font-size: 2.5em;
	margin: 0 0 1.5em 0;
	transition: font 0.5s linear;
}

.title-cont {
	height: 100px;
}

.item.inactive { opacity: 0.7; }
.item.active { opacity: 1; }

.item.inactive .title {
	font-size: 1.75em;
	transition: font 0.5s linear 0.5s;
}

.item .container p {
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 0 1.5em;
}

.item .container ul {
	padding: 1.5em;
	text-align: left;
	font-size: 1.5em;
}

.item .next {
	position: absolute;
	bottom: 2.5em;
	left: 50%;
	width: 5em;
	height: 5em;
	margin-left: -2.5em;
	line-height: 5em;
	border-radius: 100%;
	color: #fff;
	text-decoration: none;
	border: solid 1px #fff;
}

.code-comp td {
	text-align: left;
	font-family: "Courier New", monospace;
	background-color: #000;
	border: 1px solid #000;
	border-radius: 5px;
	width: 30%;
	line-height: 1em;
}

table th {
	color: rgba(255,255,255,0.9);
	padding: 0 0.75em;
	font-size: 1em;
	font-weight: normal;
	text-align: center;
}

.code-comp th {
	text-align: left;
}

table.code-comp {
	border-spacing: 10px;
    border-collapse: separate;
}

.code-comp .reserved-word { color: red; }
.code-comp .number { color: green; }

h2 { line-height: 1em; margin: 0.5em 0 0 0; }
h2 small { font-size: 0.5em; display: block; }

#header .title { color: #2A2D3C; }

#one { background-color: #03A081; }
#one .title { color: #03A081; }

#two { background-color: #3B8DAF; }
#two .title { color: #3B8DAF; }

#three { background-color: #7B70B2; }
#three .title { color: #7B70B2; }

#four { background-color: #D6628E; }
#four .title { color: #D6628E; }

#five { background-color: #D35400; }
#five .title { color: #D35400; }

#six { background-color: #16A085; }
#six .title { color: #16A085; }

#seven { background-color: #2980B9; }
#seven .title { color: #2980B9; }

#eight { background-color: #34495E; }
#eight .title { color: #34495E; }

#nine { background-color: #E74C3C; }
#nine .title { color: #E74C3C; }
